@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&family=Merriweather:wght@300;400;700&family=PT+Sans:wght@400;700&family=Rubik:wght@300;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		@apply bg-neutral-100;
	}

	.button {
		background-color: rgb(51, 52, 53);
		border: 1px solid white;
		color: white;
		font-weight: bold;
		border-radius: 4px;
		padding: 0 0.5rem;
		margin: 1rem;
	}

	.button:hover {
		color: greenyellow;
		border: 1px solid greenyellow;
		box-shadow: 5px 5px 7px rgba(10, 10, 10, 0.25);
	}

	/* .hero-image {
    background-image: url('/public/mysticSunset.png');
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  } */

	#main-content {
		background-image: url('./assets/mysticSunset.png');
	}

	.glass {
		background: rgba(200, 200, 200, 0.2);
		z-index: 10;
		backdrop-filter: blur(20px);
		box-shadow: -15px 17px 17px rgba(10, 10, 10, 0.25);
	}

	.main-header {
		font-size: clamp(2rem, 8vw, 5rem);
		font-weight: bold;
	}
}

@layer components {
	.button {
		@apply rounded-lg p-1 px-3 m-2 bg-neutral-900 text-neutral-100 border-[1px] border-black sans-font font-bold;
	}
	.serif-font {
		font-family: 'Merriweather', serif;
	}
	.sans-font {
		font-family: 'Rubik', sans-serif;
	}

	.box-shadow {
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	}

	/* swiper */
	.slider-container {
		overflow: hidden;
	}
	.swiper_container {
		width: auto;
	}
	.swiper_slide {
		margin: 0;
	}
	.swiper_image {
		height: 250px;
		border-radius: 10px;
	}
}
